.post-submit-form {
  margin-top: 15px;
}

.post-submit-form #btn-back {
  margin-left: 5px;
}
.view-post-main{
  margin-top: 10px;
}
.view-post-main #title {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
}

.view-post-main #content {
  margin-top: 10px;
  text-align: justify;
  font-family: sans-serif;
}

.view-post-main #categories {
  margin-top: 5px;
  font-weight: normal;
}
